@font-face {
  font-family: "iconfont"; /* Project id 4402283 */
  src: url('//at.alicdn.com/t/c/font_4402283_8ytxdb0hekt.woff2?t=1704715313641') format('woff2'),
       url('//at.alicdn.com/t/c/font_4402283_8ytxdb0hekt.woff?t=1704715313641') format('woff'),
       url('//at.alicdn.com/t/c/font_4402283_8ytxdb0hekt.ttf?t=1704715313641') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gengduo:before {
  content: "\e73a";
}

.icon-tianjia:before {
  content: "\e625";
}

.icon-jinbi_o:before {
  content: "\eba1";
}

.icon-jiangpai:before {
  content: "\e743";
}

.icon-dianhua:before {
  content: "\e776";
}

.icon-renzhengyonghu:before {
  content: "\e604";
}

.icon-yingyong:before {
  content: "\e601";
}

.icon-gouwucheman:before {
  content: "\e602";
}

.icon-shumiao:before {
  content: "\e605";
}

.icon-weixin:before {
  content: "\e603";
}

.icon-31daipingjia:before {
  content: "\e606";
}

.icon-my:before {
  content: "\e608";
}

.icon-tangxueyuan:before {
  content: "\e7d7";
}

.icon-dingdan:before {
  content: "\e737";
}

.icon-shezhi:before {
  content: "\e74c";
}

.icon-zhinengyouhua:before {
  content: "\e69b";
}

.icon-xianxiamendian:before {
  content: "\e69a";
}

.icon-zixun:before {
  content: "\e642";
}

.icon-ai15:before {
  content: "\e683";
}

.icon-sousuo:before {
  content: "\e622";
}

.icon-jifen:before {
  content: "\e897";
}

.icon-xiazaidaoru:before {
  content: "\e8c6";
}

.icon-dingdandaifukuan:before {
  content: "\e896";
}

.icon-diannao:before {
  content: "\e653";
}

.icon-paixu1:before {
  content: "\e617";
}

.icon-star-fill:before {
  content: "\e86a";
}

.icon-yaoqinghaoyou:before {
  content: "\e635";
}

.icon-daohangdizhi:before {
  content: "\e65e";
}

.icon-VIP:before {
  content: "\e69d";
}

.icon-fenlei:before {
  content: "\e623";
}

.icon-below-s:before {
  content: "\e627";
}

.icon-aixin:before {
  content: "\e6c8";
}

.icon-hezuo:before {
  content: "\e86f";
}

.icon-shouhou:before {
  content: "\e65d";
}

.icon-pinglun:before {
  content: "\e8b4";
}

.icon-Homehomepagemenu1:before {
  content: "\e9db";
}

.icon-youjiantou:before {
  content: "\e60b";
}

.icon-shangpinguanli-jianying:before {
  content: "\e706";
}

.icon-jiameng:before {
  content: "\e726";
}

.icon-qingchushiyong:before {
  content: "\e78d";
}

.icon-shuzhuo:before {
  content: "\e624";
}

.icon-guanliyuan:before {
  content: "\e600";
}

.icon-zelvxuanzefeiyongdaosanjiaoxingfandui:before {
  content: "\e665";
}
